---
const pageTitle = "About Me";

const identity = {
  firstName: "Claude",
  country: "United Kingdom",
  occupation: "software engineer",
  hobbies: ["exercise, travelling, sports, fashion, DIY"],
};

const technicalSkills = {
  Languages: ["JavaScript ", "Java ", "HTML/CSS ", "TypeScript ", "JSON "],
  Frameworks: [
    "React",
    "Node.js",
    "REST",
    "HTTPS",
    "DNS",
    "AWS",
    "Git",
    "Bitbucket",
  ],
  Databases: ["SQL(MySQL, Oracle)", "NoSQL (DynamoDB, MongoDB)"],
  Other: ["Postman", "Jest"],
};

const linkFontFamily = "'Plus Jakarta Sans', sans-serif";
const linkFontSize = "14px";
const linkFontColor = "#deedee";
const linkFontWeight = "250";
const mainHeadingFontSize = "32px";
// const mainHeadingFontFamily = "'Montserrat', sans-serif";

import "../styles/global.css";
---

<a href='/'>Home</a>
<a href='/about/'>About</a>
<a href='/blog'>Blog</a>

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link
      href='https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'
      rel='stylesheet'
    />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle}</title>
    <style
      define:vars={{
        linkFontFamily,
        linkFontSize,
        linkFontColor,
        linkFontWeight,
        mainHeadingFontSize,
      }}
    >
      a {
        font-family: var(--linkFontFamily);
        font-size: var(--linkFontSize);
        color: var(--linkFontColor);
      }
      p {
        color: "#deedeed0";
        margin-bottom: 1rem;
        line-height: 1.6;
      }

      h1 {
        /* font-family: var(--mainHeadingFontFamily); */
        font-size: var(--mainHeadingFontSize);
      }

      li {
        font-weight: lighter;
        color: aliceblue;
        font-size: medium;
      }
      .skill {
        color: #deedeed0;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>{pageTitle}</h1>
    <p>
      A versatile {identity.occupation} with 3+ years of building scalable, reliable
      services. Proficient in JavaScript, TypeScript, and Node.js, with expertise
      in designing and implementing cloud-based architectures on platforms like AWS.
      Strong track record of collaborating cross-functionally to deliver high-quality
      solutions that exceed user expectations. Quick learner, adept at rapidly acquiring
      new skills to meet project needs.
    </p>
    <p>
      Having worked as an engineer for 4+ years in London, i have built an array
      of knowledge over {technicalSkills.Languages}.
    </p>
    <p>
      I've used a number of frameworks and tools such <ul>
        {
          technicalSkills.Frameworks.map((framework) => (
            <li class='skill'>{framework}</li>
          ))
        }
      </ul>
    </p>
  </body>
</html>
