---
import "../styles/global.css";
import BaseLayout from "../layout/BaseLayout.astro";
const pageTitle = "Claude Mapara";

const identity = {
  firstName: "Claude",
  location: "London",
  occupation: "software engineer",
  company: "IBM",
};
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Hi, my name is</h1>
  <h2 class='big-heading'>{identity.firstName}</h2>
  <h3 class='big-heading'>
    I design and build <span id="typed-word">experiences</span><span class='cursor'>|</span>
  </h3>
  <p class='p-main'>
    I'm a {identity.occupation} based in {identity.location}. Whether it’s an
    idea, a tool, or something in between, I enjoy turning thoughts into things that work. Currently building at <a
      href='https://www.ibm.com/uk-en'
      target='_blank'
      rel='noopner noreferrer'>{identity.company}</a
    >.
  </p>
</BaseLayout>
