---
const socialLinks = [
  {
    href: "https://www.github.com/ClaudeMap",
    target: "blank",
    rel: "noreferrer noopener",
    imgSrc: "/icons/Github.svg",
    alt: "GitHub",
    ariaLabel: "GitHub (opens in a new tab)",
  },
  {
    href: "https://www.linkedin.com/in/claude-m-b24795222/",
    target: "blank",
    rel: "noreferrer noopener",
    imgSrc: "/icons/Linkedin.svg",
    alt: "LinkedIn",
    ariaLabel: "LinkedIn (opens in a new tab)",
  },
  {
    href: "mailto:mailto:claude.mapara@hotmail.co.uk",
    target: "blank",
    rel: "noreferrer noopener",
    imgSrc: "/icons/Email.svg",
    alt: "Email",
    ariaLabel: "Email",
  },
];

const creditLinks = [
  {
    prefix: "Designed in",
    name: "Figma.",
    href: "https://www.figma.com",
    ariaLabel: "Figma (opens in a new tab)",
  },
  {
    prefix: "Built in",
    name: "VS Code.",
    href: "https://code.visualstudio.com",
    ariaLabel: "Visual Studio Code (opens in a new tab)",
  },
  {
    prefix: "Shipped with",
    name: "Netlify.",
    href: "https://www.netlify.com/",
    ariaLabel: "Netlify (opens in a new tab)",
  },
  {
    prefix: "Helping the planet with",
    name: "Krystal.",
    href: "https://www.krystal.io",
    ariaLabel: "Krystal (opens in a new tab)",
  },
];
---

<footer class='custom_footer'>
  <div class='footer-social-links'>
    {
      socialLinks.map((link) => (
        <div class='footer-social-link'>
          <a
            href={link.href}
            target={link.target}
            rel={link.rel}
            aria-label={link.ariaLabel}
          >
            <img src={link.imgSrc} alt={link.alt} />
          </a>
        </div>
      ))
    }
  </div>

  <p class='credit'>
    {
      creditLinks.map((link) => (
        <span>
          {link.prefix}
          <a name={link.name} href={link.href} aria-label={link.ariaLabel}>
            {link.name}
          </a>
        </span>
      ))
    }
  </p>
</footer>
